/* Input msg */
.input-msg-container{
  height: 10%;
  border: 1px solid #999;
  border-radius: 10px;
  position: relative;
  padding: 0.2em 0.5em;
}

.input-msg{
  flex-grow: 1;
  border: 0;
  height: 90%;
  width: 95%;
}
.input-msg:focus-visible{
  border: 0px;
  outline: none;
}
.input-msg-enter{
  width: 40px;
  height: 80%;
  font-size: 30px;
  margin-left: 1em;
}

/* Scroll */
.rcv-msg-container::-webkit-scrollbar {
  width: 0.5em;

}
.rcv-msg-container::-webkit-scrollbar-track {
  color: green;
  background-color: #DDD;
  border-radius: 10px;
}
.rcv-msg-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;  
  border-radius: 10px;
}

.spinner {
  animation: spin infinite 5s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-icon{
  position: fixed;
  bottom: 20px;
  right: 20px; 
  font-size: 40px;
}

.chat-container{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  height: 600px;
  width: 400px;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 1em;
}
.show-chat{
  animation: show-chat-expand 0.3s;

}
@keyframes show-chat-expand {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 400px;
    height: 600px;
  }
}
.hide-chat{
  animation: hide-chat-shrink 0.3s;
}
@keyframes hide-chat-shrink {
  0% {
    width: 400px;
    height: 600px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

/* Bootstrap like CSS */
.appid-d-flex{
  display: flex;
}
.appid-flex-column{
  flex-direction: column;
}
.appid-d-none{
  display: none;
}
.appid-align-items-center{
  align-items: center;
}
.appid-align-items-end{
  align-items: end;
}
.appid-justify-content-center{
  justify-content: center;
}
.appid-justify-content-end{
  justify-content: end;
}
.appid-flex-grow-1{
  flex-grow: 1;
}
.appid-mt-3{
  margin-top: 1em;
}
.appid-mb-3{
  margin-bottom: 1em;
}
.appid-text-center{
  text-align: center;
}
.appid-text-start{
  text-align: start;
}
.appid-text-end{
  text-align: end;
}
.appid-pe-2{
  padding-right: 1em;
}
[role=button] {
  cursor: pointer;
}